extends layout

append content
  .row-fluid
    .span12
      form.form-horizontal(action=(prefix + '/' + board._id + '/' + post._id), method='post', enctype='multipart/form-data')
        .control-group
          label.control-label(for='name') Name
          .controls
            input#name.input-large(name='name', type='text', value='Anonymous', required)
        .control-group
          label.control-label(for='comment') Comment
          .controls
            textarea#comment.input-xxlarge(name='comment', rows='5')
        .control-group
          label.control-label(for='file') File
          .controls
            input#file(name='file', type='file')
        .control-group
          label.control-label(for='password') Password
          .controls
            input#password.input-large(name='password', type='password')
        .form-actions
          button.btn.btn-primary(type='submit')
            i.icon-reply
            |  Reply
  .row-fluid
    .span12
      include partials/post
      if replies && replies.length
        each post in replies
          include partials/post
